.userEnrolledCourses{    
    color: #1C1D1F;
    font-weight: 500;
font-size: 36px;
/* line-height: 19px; */
margin-bottom: 50px;
/* text-decoration: underline; */
/* text-decoration: wavy; */
}



.EachEnrolledCourse{
    margin-bottom: 35px;
}

.enrolledCourseInfo{
    display: flex;
    flex-direction: column;
    /* align-items: a; */
    justify-content: space-around;
    margin: 0px 20px;
}

.courseImageTest{
    /* width: 375px;
    height: 192px; */
    border-radius: 0.375rem;
    object-fit: contain;
}

.courseMaintitle{
    /* width: 386px; */
/* height: 54px; */
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;

color: #150546;
}

.enrolledCourseSubtext{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: rgba(21, 5, 70, 0.6);
width: 45px;
height: 19px;
}

.totalLessonsEnrolledCourse{
    width: 120px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: rgba(21, 5, 70, 0.8);
}

.nextPageIcon{
    display: flex;
    align-items: center;
    margin-left: 55px;
}