.LearningPathcardsTop{
    margin-top: 100px;
}

.LearningPathMainHeader{
    font-weight: 600;
font-size: 30px;
line-height: 36px;

color: #150546;
/* width: 560px;
height: 36px; */
}

.hpcCardsSubtext{
    font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: rgba(21, 5, 70, 0.6);
}

