.ResetPageHeading{
    font-weight: 500;
font-size: 36px;
line-height: 19px;
/* identical to box height, or 53% */

text-align: center;
letter-spacing: 0.2px;

color: #1C1D1F;
}

.UserPasswordResetTop label{
    font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/700 */

color: #344054;
padding-top: 20px;
padding-bottom: 10px;
}

.userPasswordResetInputs{
    width: 100%;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.375rem;
    padding: 10px 14px;

}

.userUpdatePasswordButton{
    background: #7F56D9;
border: 1px solid #7F56D9;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
padding: 10px 18px;
width: 309px;
height: 44px;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* White */

color: #FFFFFF;
}

.userCancelButton{
    background: none;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2px;
width: 50px;
height: 20px;
color: #1C1D1F;
}