.SideBarTop{
    padding-top: 25px;
    height: 100vh;
    min-width: 150px;
    border-right: 1px solid #E4E7EC;
}

.AdminSidebarHeader{
    
font-size: 20px;
line-height: 24px;
font-weight: bolder !important;
color: #150546;
}

.sidebarListItems{
    padding-top: 25px;
    height: calc(100vh - 100px);
}

.sideBarTopListElements{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    /* text-align: start; */
}

.sideBarTopListElements:hover{
    background: #F9F5FF;
border-radius: 6px;
padding: 8px 12px;
display: flex;
/* flex-direction: row; */
align-items: center;
cursor: pointer;
}

.sidebarTopIcons{

}


.sidebarAdminHeading{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/900 */

color: #101828;
}

.adminEmail{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/500 */

color: #667085;
}


.profilePhotoSidebar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.LogOutButton{
    cursor: pointer;
}