.userListTop{
    display: flex;
}

.adminPanelSidebartag{
    flex: 1;
}

.userListSecond{
    flex: 4;
}

.headingUserList{
    font-weight: 600;
font-size: 28px;
line-height: 34px;
/* identical to box height */


color: #667085;
}

.UserListTopLink1{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-decoration-line: underline;

/* Gray/500 */

color: #667085;
}

.ApproveUser{
    border: none;
    background: none;
}

.UserListAdmin{
    font-weight: 500;
font-size: 14px;
line-height: 17px;
text-decoration-line: underline;
color: #667085;
}


/* Fancy button */

#sendEmailButton{
    --clr: #39FF14;
}

#sendEmailButton {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
  }
  
  #sendEmailButton:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  #sendEmailButton::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
/*   
  #sendEmailButton span {
    position: relative;
    z-index: 1;
  }
  #sendEmailButton i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  #sendEmailButton i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  #sendEmailButton:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  #sendEmailButton i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  #sendEmailButton:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
   */

  /* button end  */

