<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Certificate of Completion</title>
    <style>
        /* Add your certificate styling here */
        body {
            font-family: Arial, sans-serif;
        }
        .certificate {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border: 2px solid #007BFF;
            text-align: center;
        }
        .certificate h2 {
            font-size: 28px;
            margin-top: 10px;
        }
        .certificate p {
            font-size: 18px;
        }
        /* Add more styles as needed */
    </style>
</head>
<body>
    <div class="certificate">
        <h2>Certificate of Completion</h2>
        <p>This is to certify that</p>
        <p><strong>{{name}}</strong></p>
        <p>has successfully completed the course:</p>
        <p><strong>{{courseName}}</strong></p>
        <p>on <strong>{{completionDate}}</strong></p>
        <!-- Add more content or styling here -->
    </div>
</body>
</html>
