.adminPanelTop{
    display: flex;
}

.adminPanelSidebartag{
    flex: 1;
}

.contentAdminPanel{
    flex: 4;
}

.adminPanelHomeStatusCards{
    height: 125px;
    border: 1px solid #E4E7EC;
/* Shadow/sm */

box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
border-radius: 8px;
}

.line1text1{
    font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/900 */

color: #101828;
}

.line1text2{
    font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height, or 122% */

letter-spacing: -0.02em;

/* Gray/900 */

color: #101828;
}

.viewAllLink{
    color: #667085;
}

