.container #carouselExampleCaptions{
    padding-top: 50px;
    padding-bottom: 100px;
}

.instructorsHeader{
    text-align: left;
    margin-bottom: 50px;
    color: #150546;
}

.carousel-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner-div{
    width: 583px;
    text-align: left;
    margin-left: 20px;
    color: #150546;
}


.carousel-img-instructor{
    height: 207px;
    width: 207px;
    border-radius: 50%;
}

.carousel-caption-instructor{
    color: black;
}