.inputWithoutBorder{
    border-top-style: hidden !important;
    border-right-style: hidden;
    border-left-style: hidden;
}

.make-bold{
    font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


color: #160647;
}

.change-color{
    color: #667085 ;
}

.stop-transition{
    border: 0px;
    border-radius:0.375rem;
}