/* .stepper .line {
    width: 2px;
    background-color: lightgrey !important;
  }
  .stepper .lead {
    font-size: 1.1rem;
  }


.coursesVerticalStepper{
    width: 100ch;
}

.StepperMainLabels{
  font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #150546;
}

.subtextMainLabels{
  font-weight: 400 !important;
font-size: 18px !important;
line-height: 22px !important;
color: rgba(21, 5, 70, 0.6) !important;
} */

.learningPathImages{
  width: 200px;
height: 220px;
}

.StepperContent{
  margin-left: 50px;
  /* margin-bottom: 50px !important; */
  /* padding-bottom: 500px; */
  width: 100%;
}

.CardCustomization{
  border: none;
}




.VerticalStepperHeading{
  font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #150546;
}

.VerticalStepperSubtext{
  font-weight: 400;
font-size: 18px;
line-height: 22px;
color: rgba(21, 5, 70, 0.6);
}

.VerticalStepperCardTitle{
  font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #000000;
}

.VerticalStepperCardSubtext{
  font-weight: 400;
font-size: 18px;
line-height: 22px;

color: rgba(21, 5, 70, 0.6);
}

.verticalStepperStyle1{
  position: relative;
  list-style: none;
}

.v1{
  border: 2px solid #150546;
  height: 430px;
  margin-left: 20px;
  position: relative;
  top: -50px;
}

.v2{
  /* border: 2px solid #150546; */
  height: 530px;
  margin-left: 22px;
  position: relative;
  top: -50px;
}

.adjustHeight{
  height: 400px;
  padding-top: 20px;
}

.makeCircle{
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  width: 42px;
 height: 42px;
  border: 2px solid #150546;
  border-radius: 50%;
}

.marginAdjust{
  margin-left: 15px;
}