.CourseBasicTopHeader{
    padding-top: 50px;
    padding-bottom: 50px;
}

.CourseVideo{
    /* width: 954px; */
    height: 500px;
    width: 500px;
    max-width: 954px;
max-height: 351px;
}

.CourseVideoTitle{
    margin-top: 25px;
    font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 29px;
color: #081c46;
}

.InfoAndCard{
    padding-top: 50px;
}

.AboutThisCourse{
    font-weight: 500;
font-size: 28px;
line-height: 34px;


color: #150546;
}

.InfoAboutCourse{
    font-weight: 400;
font-size: 18px;
line-height: 28px;

color: rgba(21, 5, 70, 0.8);
}


.InfoCoursePart1{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.InfoCoursePart2{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin-top: 50px;
}

.prereq{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.InfoCourseCard{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.WhatYouLearn{
    font-weight: 500;
font-size: 22px;
line-height: 27px;
color: #150546;
}

.LearningCourseListElements{
    list-style-type: '\2713';
}

.LearningCourseListL1{
    padding-right: 100px;
}

.LearningListElements{
    /* padding-left: 15px; */
    padding: 10px 15px; 
    font-weight: 400;
font-size: 16px;
line-height: 19px;

color: rgba(21, 5, 70, 0.8);
}

.InfoCourseCard{
    width: 354px;
height: 441px;

background: #F8F7F7;
border-radius: 9px;

display: flex;
flex-direction: column;
justify-content: space-around ;
/* align-items: center; */
}

.CourseCard{
    width: 308.17px;
    height: 113.38px;    
    background: #D9D9D9;
    border-radius: 8px;
}

.CardHeading{
    padding-left: 10px;
    font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
}

.CardButton{
    padding: 10px 18px;
gap: 8px;

width: 309px;
height: 44px;

background: #7F56D9;
border: 1px solid #7F56D9;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
color: white;
}

.CourseCardLink{
    /* width: 202px;
height: 20px; */
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-decoration-line: underline;
color: #667085;

}

.PrerequisitesHeader{
    font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #150546;
}



.PrerequisitesList{
    padding-top: 20px;
    font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */


color: rgba(21, 5, 70, 0.8);
}

.CourseContentHeader{
    padding-top: 50px;
    padding-bottom: 15px;
    font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #150546;
}

.CourseContentListItems{
    list-style: none;
}


.CourseContentListItemHeader{
    font-weight: 500;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */


/* Gray/900 */

color: #101828;
}

.ModuleInfoSubtext{
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* Gray/500 */

color: #667085;
padding-bottom: 10px;
}

.moduleInfoListInner{
    list-style: none;
    padding: 0;
}

.PlayCirclePaddingAdjust{
    padding-right: 10px;
}