.CourseLearningContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.LessonCard {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.lessonNo {
  font-weight: bold;
}

.lessonTitle {
  display: block;
  margin-top: 10px;
}

.fa-cloud-arrow-down {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
