.UserProfilePhotoImage{
    height: 120px;
    width: 120px;
}

.UserProfileOptions{
    width: 215px;
height: 30px;
/* left: 111px;
top: 392px; */
cursor: pointer;

font-weight: 400;
font-size: 16px;
/* line-height: 22px; */
/* identical to box height, or 140% */



/* align-items: center; */
}

.active-sidebar-content{
    color: #FFFFFF;
    background: #6A6F73;
}