.CourseInfoPageTop{
    margin-top: 50px;
}

.CourseInfoHeader{
height: 27px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
color: #150546;
}

.CourseInfoMaincontent{
    /* background: #F3F3F3; */
    /* min-height: 500px; */
    margin-bottom: 50px;
}

.CourseInfoAndVideo{

}

.courseJustVideo{
    background-color: #F3F3F3;
}

.CourseInfoVideo{
    /* width: 100% !important; */
    /* width: 60%; */
    /* background-color: #F3F3F3; */
    min-width: 600px;
    height: auto;
    
}

.courseLessonVideo{
    max-width: 600px;
}

.CourseInfoLessons{
    background-color: #F3F3F3;
    min-height: 600px;
}

.LessonsHeader{
    font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #150546;
}

.LessonInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background: rgba(217, 217, 217, 0.2);
    padding: 10px;
    font-family: 'Inter';
font-style: normal;
    color: #150546;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: start;
}

.about ,  .learning ,  .discussion{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #150546;
cursor: pointer;
}

.progressbardiv{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.progresstitle{
font-size: large;
color: rgb(8, 8, 107);
}

.selected {
    /* background-color: yellow; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    color: #150546;
    border-bottom: 2px solid #000000;
    cursor: pointer;
  }

  .FooterNavbarCommonLinks{
    cursor: pointer;
}

.courseLessonVideo{}

/* CourseInfoPage.css (or any other appropriate CSS file) */

.lesson-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.lesson-table th,
.lesson-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.lesson-table th {
  background-color: #f2f2f2;
}

.lesson-row:hover {
  background-color: #f5f5f5;
}

.lesson-title {
  cursor: pointer;
  color: blue;
}

.download-icon {
  cursor: pointer;
  color: green;
}


/* button style */
/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}